<?xml version="1.0" encoding="UTF-8"?>
<config>
    <map>
        <rows>100</rows>
        <columns>100</columns>
    </map>

    <players>
        <count>5</count>
        <names>Player1,Player2,Player3,Player4,Player5</names>
        <cities>City1,City2,City3,City4,City5</cities>
    </players>
</config>
